<div id="<%= dom_id exercise %>">
	<p class="my-5">
		<strong class="block font-medium mb-1">Title:</strong>
		<%= exercise.title %>
		<%= exercise.body %>
		<%= image_tag(exercise.image) if exercise.image.attached? %>
	</p>

	<% if action_name != "show" %>
		<div class="flex justify-between content-center mt-3">
			<%= link_to 'Bewerk oefening', edit_exercise_path(exercise), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
			<%= button_to 'Verwijder oefening', exercise_path(exercise), method: :delete, class: "rounded-lg py-3 ml-2 px-5 bg-red-100 inline-block font-medium" %>
		</div>
		<hr class="mt-6">
	<% end %>
</div>
