<%= turbo_frame_tag "new_exercise" do %>
	<%= form_with(model: exercise, class: "contents") do |form| %>
		<% if exercise.errors.any? %>
			<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
				<h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

				<ul>
					<% exercise.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="my-5">
			<%= form.label :title %>
			<%= form.text_field :title, class: "block shadow rounded-lg  border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
		</div>

		<div class="my-5">
			<%= form.label "Doel" %>
			<%= form.text_field :purpose, class: "block shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
		</div>

		<div class="my-5">
			<%= form.label "Duur oefening in minuten" %>
			<%= form.number_field :minutes,in: 1.0..20.0, step: 1.0, class: "block shadow rounded-lg border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
		</div>

		<div class="my-5">
			<%= form.rich_text_area :body , class: "border border-gray-400 p-2 rounded-lg w-full h-32" %>
		</div>

		<div class="my--5">
			<%= form.label :image %>
			<%= form.file_field :image, class: "p-2 rounded-lg" %>
		</div>

		<div class="flex justify-between mt-6">
			<%= form.submit "Opslaan", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>

			<% if controller.action_name == "new" %>
				<%= link_to 'Overzicht Oefeningen', exercises_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
			<% elsif controller.action_name == "edit" %>
				<%= link_to "Toon oefening", @exercise, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
				<%= link_to "Oefeningen overzicht", exercises_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
			<% end %>
		</div>
	<% end %>
<% end %>